<%include ./partials/views/header%>



<p>hello</p>



<%photos.forEach(function(photo){%>
  <img src="<%=photo.Photo%>" alt="">
  <p> <%=photo.Caption%> </p>
<%});%>
<%include ./partials/views/header%>
